.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-check-input:focus, .form-control:focus, .form-select:focus, .label::after, label.form-check-label:focus, .form-check-input::after, .form-check-input:not(:disabled):not(.disabled):active:focus {
  box-shadow:  0 0 10px #74580f;
}

.sidebar-active {
  background-color: #74580f;
}
.sidebar-link:hover{
  background-color: #84681f;
}

.color-menkor{
  color: #74580f;
}

.color-menkor:hover{
  color: #84681f;
}

.border-menkor {
  border: solid #74580f;
}

.font-nunito{
  font-family: 'Nunito Sans', sans-serif;
}
.font-poppins{
  font-family: 'Poppins', sans-serif;
}