.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-check-input:focus, .form-control:focus, .form-select:focus, .label::after, label.form-check-label:focus, .form-check-input::after, .form-check-input:not(:disabled):not(.disabled):active:focus {
  box-shadow:  0 0 10px #74580f;
}

.sidebar-active {
  border-right: 8px solid #74580f;
  background-color: #505050;
}
.sidebar-link{
  transition: 0.2s;
}
.sidebar-link:hover{
  border-right: 8px solid #74580f;
  background-color: #505050;
}

.color-menkor{
  color: #74580f;
}

.color-menkor:hover{
  color: #84681f;
}

.border-menkor {
  border: solid #74580f;
}

.font-nunito{
  font-family: 'Nunito Sans', sans-serif;
}
.font-poppins{
  font-family: 'Poppins', sans-serif;
}

:root {
  --white: #fff;
  --darkblue: #ffffff;
}

.table-clickable {
  text-align: left;
  border-collapse: collapse;
}

.table-clickable tbody a {
  display: block;
  text-decoration: none;
  transition: all 0.25s ease-out;
}

.table-clickable tbody tr:hover a {
  color: var(--white);
  background: var(--darkblue);
}

.page-link {
  color: white;
}

.form-check-input:checked{
  background-color: #74580f !important;
  border: 0;
}
.form-check-input:focus, .form-control:focus, .form-select:focus, .label::after, label.form-check-label:focus, .form-check-input::after, .form-check-input:not(:disabled):not(.disabled):active:focus {
  outline: 0;
  border: 0;
  box-shadow: 0 0 0 0.15rem #00000010 !important;
}

.timeline-circle{
  width: 15px;
  height: 15px;
  background-color: #fff;
  top: calc(50% - 8px);
  left: -10px;
}